*.db
*.db-shm
*.db-wal
*.v2
*.vsidx
*.json
*.bin
*.dll
*.pdb
*.csproj
*.cs
*.vcxproj
*.filters
*.ini
*.h
*.cache
*.BuildWithSkipAnalyzers
*.log
*.editorconfig
*.props
*.targets
*.user
*.runtime-xml
*.dmp
*.log
